/.ipynb_checkpoints
/aplicacion.py
/app.py
/cal_spike.ipynb
/components.py
/Copia de delfin_agosto_AMC_v2.xlsx
/css.py
/DELFIN_graph.ipynb
/E10.xlsx
/gisaid_hcov-19_2021_08_02_21.xlsx
/M10.xlsx
/maps.ipynb
/metadata.xlsx
/MINING
/modules.py
/N10.xlsx
/NSP10.xlsx
/Reporte_EX2_CVJ_ESM.docx
/Searching.ipynb
/spike.csv
/spike10.xlsx
/venv
/worker.py
/__pycache__